.hero-unit
  .container
    .row
      .span6.headline
        - if user_signed_in?
          Thanks for joining us!
          %br
          We are gearing up to 
          %br
          launch our new 
          %br
          pharmacy in the
          %br
          spring of 2013, please
          %br
          stay tuned for updates!
        - else
          %span.blue
            PillPack
          is pharmacy 
          %br
          simplified. We fill, sort, and
          %br
          deliver all your meds into
          %br
          personalized packets based on
          %br
          when you need to take them.
          %br
          Our service helps you take the
          %br
          right meds at the right time
          %br
          without the worry or hassle.
          %br
          %br
          = simple_form_for @user, :as => "user", :url => registration_path("user") do |f|
            = f.error_notification
            .inputs
              = f.input :email, :placeholder => 'Email', :label => false
              = f.input :password, :input_html => {:type => 'hidden', :value => 'helloworldtest'}, :label => false
              = f.input :password_confirmation, :input_html => {:type => 'hidden', :value => 'helloworldtest'}, :label => false
            .actions
              = f.button :submit, "Sign up for free trial"


      .span5.packet
        %img{:src => "images/single-packet.png"}
